/* ===== GLOBAL RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #0A0F1F;
    color: #E5E9F0;
    line-height: 1.6;
}

section {
    padding: 80px 10%;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #7AE2CF;
}


/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(10, 15, 31, 0.65);
    backdrop-filter: blur(8px);
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    color: #64CCC5;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #E5E9F0;
    font-weight: 500;
    transition: 0.25s;
}

.nav-links a:hover {
    color: #7AE2CF;
}

/* Make hero visible below fixed navbar */
#home {
    padding-top: 140px;
}


/* ===== HERO ===== */
.hero-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #7AE2CF;
}

.hero-subtitle {
    font-size: 22px;
    color: #64CCC5;
    margin-bottom: 20px;
}

.hero-description {
    max-width: 750px;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    margin-right: 12px;

    border: 1px solid #7AE2CF;
    border-radius: 6px;

    color: #7AE2CF;
    text-decoration: none;

    transition: 0.25s ease;
}

.hero-btn:hover {
    background-color: #7AE2CF;
    color: #0A0F1F;
}


/* ===== WHAT I DO + PROJECT CARDS ===== */
.service-cards,
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.service-card,
.project-card {
    background-color: #001C30;
    border: 1px solid #176B87;
    padding: 25px;
    border-radius: 12px;

    text-decoration: none;
    color: #DAFFFB;

    transition: 0.25s;
}

.service-card h3,
.project-card h3 {
    margin-bottom: 10px;
    color: #7AE2CF;
}

.service-card:hover,
.project-card:hover {
    transform: translateY(-6px);
    border-color: #64CCC5;
}


/* ===== AUTHOR'S NOTES ===== */
.notes-content {
    max-width: 800px;
    font-size: 18px;
}

.notes-content p {
    margin-bottom: 18px;
}


/* ===== CONTACT ===== */
.contact-content a {
    color: #7AE2CF;
    text-decoration: none;
}

.contact-content a:hover {
    text-decoration: underline;
}


/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    opacity: 0.7;
}
