body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0F1F;
    color: #E5E9F0;
}

.hero-section {
    padding-top: 130px;
}

.hero-title {
    font-size: 100px;
    font-weight: 700;
    color: #050621;
}

.hero-sub {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #010e21;
}

.hero-text {
    max-width: 650px;
    line-height: 1.6;
    color: #f6f8fb;
}

.section-title {
    font-size: 32px;
    border-left: 6px solid #8AB4F8;
    padding-left: 12px;
}

.card {
    background-color: #111627;
    border: 1px solid #202A44;
    transition: 0.2s;
}

.card:hover {
    border-color: #070f1c;
    transform: translateY(-5px);
}

.author-text {
    max-width: 700px;
    line-height: 1.7;
}
